/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: "Mukta";
    font-weight: 400;
    src: url("../fonts/Mukta-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Mukta";
    font-weight: 600;
    src: url("../fonts/Mukta-SemiBold.woff2") format("woff2")
}

@font-face {
    font-family: "Praise";
    font-weight: 600;
    src: url("../fonts/Praise-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Pacifico";
    font-weight: 600;
    src: url("../fonts/Pacifico-Regular.woff2") format("woff2")
}





/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* Global colors of the page =>*/
    --global-page-color-back: white;
    --global-page-color-front: black;


    /* Main color of the page => */
    --main-color: #63C99E;
    
    --global-color-alpha-light: #63C99E99;
    --global-color-alpha-dark: #7cc1a7;

    --global-color-neutral-xxxx-light: #f2efef;
    --global-color-neutral-xxx-light: #ebebeb;
    --global-color-neutral-xx-light: #dadedc;
    --global-color-neutral-x-light: #c4ceca;
    --global-color-neutral-light: #b0bcb7;
    --global-color-neutral: #939f9a;
    --global-color-neutral-dark: #7c8782;
    --global-color-neutral-x-dark: #727e79;
    --global-color-neutral-xx-dark: #545e5a;
    --global-color-neutral-xxx-dark: #3b413e;
    --global-color-neutral-xxxx-dark: #222624;

    --background-color-gasButtons: #F0EFEF;

     /* border stuff */
     --global-borderRadius: 15px;
     --global-borderWidth: 1px;

     --global-bordercolor: #888888;
      

      /* transitions */
    --global-transitionTiming-alpha: .2s;

    /* Baseline  */
    /* I Work with a grid of 8 pixels */
    --global-baseline: 8px;
    --global-whitespace: calc(var(--global-baseline) * 3); /* = 24px */

    --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
    --global-whitespace-sm: calc(var(--global-baseline) * 1); /*  = 8px */
    --global-whitespace-md: calc(var(--global-baseline) * 2); /*  = 16px */
    --global-whitespace-lg: calc(var(--global-baseline) * 4); /*  = 32px */
    --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
    --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */

    --stroke-color: black;
    --svg-text-color: black;
    --color-Path_9: white
  }

  /*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/ 

html{
    font-size: 100%;
    line-height: 1.5;
    font-family: "Mukta", Arial, Helvetica, sans-serif;
    color: var(--global-page-color-front);
    background-color: var(--global-page-color-back);
    scroll-behavior: smooth;    /* <----- THE SECRET ---- */

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::-moz-selection {
    background: var(--main-color);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--main-color);
    color: white;
    text-shadow: none;
    opacity: 0.1;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img{
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    line-height: calc(var(--global-baseline) * 6);
    margin: 0 0 var(--global-whitespace);
}

h2 {
    font-size: 2rem;
    line-height: calc(var(--global-baseline) * 5);
    margin: 0 0 var(--global-whitespace);
}

h3 {
    font-size: 1.625rem;
    line-height: calc(var(--global-baseline) * 4);
    margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: calc(var(--global-baseline) * 3);
    margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
}

table{
    margin: var(--global-whitespace-xl) var(--global-whitespace-md) 0;
    
}

caption{
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

th{
    text-align: center;
    color: black;
    background-color: #ddd;
}


table, th, td{
    border: var(--global-borderWidth) solid black;
    border-collapse: collapse;
}

td{
    text-align: center;
}

th, td{
    padding: var(--global-whitespace-sm);
}


ul,
ol {
    padding-left: var(--global-whitespace);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 1.4375rem;
    line-height: calc(var(--global-baseline) * 6);
    margin: 0 0 var(--global-whitespace);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: calc(var(--global-baseline) * 2);
    margin-top: var(--global-whitespace-xxs);
}

hr {
    border-top: calc(var(--global-borderWidth)*2) solid var(--global-bordercolor);
    border-bottom: 0px;
    margin: 0 var(--global-whitespace-md);
}

a,
a:visited {
    color: black;
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;     
}


a:hover,
a:focus {
    color: var(--main-color);
    transition: all 0.2s linear;   
}

a:active {
    color: var(--global-color-alpha-dark);
}

label,
input {
    display: block;
}

input::placeholder {
    color: var(--global-color-neutral-x-light);
}

aside{
    margin-right: -50px;
}


#header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* No use of variable because this is specific and on big screens the size of the container remains the same =>*/
    grid-template-rows: 134px;
    align-items: center;
}

.grid_item_header_1{
    justify-self: start;
   
}

.grid_item_header_2{
    justify-self: end;
}

#main{
    display: grid;
    grid-template-columns: 30% 70%;
    /* No use of variable because this is specific and on big screens the size of the container remains the same =>*/
    grid-template-rows: 740px;
    justify-items: center;
    align-items: center;
    
}

.grid_item_main_1{
    
}

.grid_item_main_2{
    /* Gebruikt om te testen */
    /* border: 1px solid green; */
    /* align-self: end; */
}


#footer{
    display: grid;
    grid-template-columns: 300px 210px 1fr;
    grid-template-rows: 200px;
    align-items: center;
    justify-content: flex-start;
    margin: var(-global-whitespace-lg);
    gap: 80px;
    width: 1200px;  
}

.grid_item_footer_1{
    /* Gebruikt om te testen */
    /* border: 1px solid hotpink; */
    /* width: 290px; */
}

.grid_item_footer_2{
    /* Gebruikt om te testen */
    /* border: 1px solid green; */
    /* width: 205px; */
}

.grid_item_footer_3{
    margin: var(--global-whitespace-lg) var(--global-whitespace-xl) var(--global-whitespace-lg) 0;
    font-size: 2rem;
    padding-left: 100px;

}


/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

.o-container{
    margin: 0 auto;
    /* No use of variable because this is specific and on big screens the size of the container remains the same =>*/
    max-width: 1200px;
}

.o-list{
    list-style: none;
    padding: 0;
}

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
  
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
  
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
  
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
  
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
  }

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/


.c-checkbox{
    display: none;
}

input{
    margin: 0 var(--global-whitespace-xs) 0 var(--global-whitespace-md);
}


.c-item{
    
    /* No use of variable because of spicificity */
    height: 88px;
    display: flex;
    align-items: center;
}

.c-contact{
    background-color: black;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-footer{
    max-width: 1200px;
}

.c-page {
    position: relative;
    will-change: transform;
    transition: transform 0.25s ease;
  }

.c-hamburgerMenu{
    display: none;
}

.c-map{
    height: 600px;
    width: 600px;
    border: var(--global-borderWidth) solid black;
    display: flex;
    margin: 0 auto;
    z-index: 0
}

.c-mobile-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    pointer-events: none;
    transform: TranslateX(100%);
    transition: transform 0.25s ease;
  }

  .c-mobile-nav__bg {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #202024;
    transition: opacity 0.25s ease;
  }

  .c-mobile-nav__body {
    position: relative;
    padding: 24px;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    z-index: 1;
  }

  .c-mobile-nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }


.c-header{
    margin: calc(var(--global-baseline) * 3);
}

.c-header_logo{
    display: block;
    margin-left: var(--global-baseline);
    margin-left: var(--global-whitespace-sm);

}

.c-nav{
    font-size: 1rem;  
    line-height: calc(var(--global-baseline)*4.5);
}

.c-header__nav{
    display: none;
    margin-right: calc(var(--global-baseline)*5);
}

.c-nav__list{
    display: flex;
    gap: 2px;
}



.c-nav__item {
    text-decoration: none;
    margin-top: var(--global-whitespace);
  }

  .c-nav__link {
    text-decoration: none;
    display: block;
    color: #241c15;
  }

.c-nav-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--global-whitespace);
    width: var(--global-whitespace);
    height: var(--global-whitespace);
  }

.c-nav-trigger__svg {
    fill: #202024;
    height: 100%;
}
  

.c-nav__link--meta,
.c-nav__link--meta:visited,
.c-nav__link--meta:active {
  color: black;
}

.c-nav__link--meta:hover{
    color: var(--main-color);
}

.c-header__mobile-nav-trigger {
display: none;
}

.c-main{
    display: flex;
}

.c-side--nav{
    height: 500px;
    margin: 120px 0 120px 80px;
    align-items: center;
}

.c-fuelLogo{
    width: var(--global-whitespace-lg);
    height: var(--global-whitespace-lg);
    margin-left: auto;
    margin-right: var(--global-whitespace-sm); 
}

#Ellipse_2{
    stroke: var(--stroke-color);
}

#E10{
    fill: var(--svg-text-color);
}

#E5{
    fill: var(--svg-text-color);
}

#B7{
    fill: var(--svg-text-color);
}

.has-mobile-nav .c-page {
/* transform: translateX(-25%); */
}

.has-mobile-nav .c-mobile-nav {
pointer-events: auto;
transform: TranslateX(50%);
}

.has-mobile-nav .c-mobile-nav__bg {
    opacity: 0.5;
  }

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

.u-pointerLogo_small{
    display: none;
}

.u-textLogo_small{
    display: none;
}


.u-quote{
    font-size: 2rem;
    
}

.u-logo-width{
    position: absolute;
}

.u-pointer{
    position: absolute;   
}

@keyframes pointeranimation {
    0%{
        transform: rotate(750deg)
    }
    100%{
      transform: rotate(0deg)
     
    }
   
  }

.c-pointer-css-anim{
    animation-name: pointeranimation;
    animation-duration: 0.8s;
    animation-timing-function: ease-out; 
}

.u-textLogo{
    padding-top: var(--global-whitespace-lg);
    padding-left: var(--global-whitespace-xl);
}





.u-itemsvg{
    fill: white;
    width: 56px;
    height: 56px;
    
    margin: 0 auto;
    margin-bottom: 0;
    margin-right: var(--global-whitespace);
    margin: 0 var(--global-whitespace) 0 0;
}



.u-itemtxt{
    margin-top: 0;
    margin: 0 auto;
}

.u-itemtxthead{
    font-size: 1.5rem;
    margin: 0;
}


.u-header-name{
    font-size: 1.5rem;
    display: flex;
    
}


.u-euro95{
    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: var(--global-borderRadius);
    background-color: var(--global-page-color-back);
    color: black;
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    box-shadow: 4px 4px 3px #888888;
}



.u-euro95:hover{
    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: var(--global-borderRadius);
    background-color: var(--background-color-gasButtons);
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    box-shadow: 4px 4px 3px #888888;
    transition: all var(--global-transitionTiming-alpha) ease;
}

.u-euro95:active{
    border: var(--global-borderWidth) solid white;
    width: 200px;
    height: 50px;

    border-radius: var(--global-borderRadius);
    
    background-color: white;
    color: var(--main-color);
    display: flex;
    
    display: flex;
    align-items: center;
    margin-bottom: var(--global-whitespace-md);

    border: var(--global-borderWidth) solid var(--main-color);

    box-shadow: 0px 0px 0px #EBEBEB;

    --stroke-color: var(--main-color);
    --svg-text-color: var(--main-color);

    transition: all var(--global-transitionTiming-alpha) ease;

    
}

.u-euro95:focus{
    outline: none;      

    border:var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: var(--global-borderRadius);;
    background-color: var(--background-color-gasButtons);
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    box-shadow: 4px 4px 3px #888888;
    transition: all var(--global-transitionTiming-alpha) ease;
  
}



.u-euro95TXT{
    margin-left: var(--global-whitespace-sm);
    font-size: var(--global-whitespace);
    font-weight: 600;
}



.u-euro98{
    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: var(--global-borderRadius);
    background-color: var(--global-page-color-back);
    color: black;
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    box-shadow: 4px 4px 3px #888888;
    transition: all var(--global-transitionTiming-alpha) ease;
}

.u-euro98:active{
    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;
    height: 50px;

    border-radius: var(--global-borderRadius);
  
    background-color: white;
    color: var(--main-color);
    display: flex;
  
    display: flex;
    align-items: center; 
    margin-bottom: var(--global-whitespace-md);

    border: var(--global-borderWidth) solid var(--main-color);

    box-shadow: 0px 0px 0px #EBEBEB;

    --stroke-color: var(--main-color);
    --svg-text-color: var(--main-color);

    transition: all var(--global-transitionTiming-alpha) ease;

    
}

.u-euro98:focus{
    outline: none;      

    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: 15px;
    background-color: var(--background-color-gasButtons);
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    box-shadow: 4px 4px 3px #888888;
    transition: all var(--global-transitionTiming-alpha) ease;
}

.u-euro98TXT{
    margin-left: var(--global-whitespace-sm);
    font-size: 1.5rem;
    font-weight: 600;
}

.u-euro98:hover{
    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: var(--global-borderRadius);
    background-color: var(--background-color-gasButtons);
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    
    box-shadow: 0px 0px gray;

    box-shadow: 4px 4px 3px #888888;
}

.u-diesel{
    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: var(--global-borderRadius);
    background-color: var(--global-page-color-back);
    color: black;
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    box-shadow: 4px 4px 3px #888888;

    transition: all var(--global-transitionTiming-alpha) ease;
}

.u-diesel:active{
    border: var(--global-borderWidth) solid white;
    width: 200px;
    height: 50px;

    border-radius: var(--global-borderRadius);
  
    background-color: white;
    color: var(--main-color);
    display: flex;
    
    display: flex;
    align-items: center;

    margin-bottom: var(--global-whitespace-md);

    border: var(--global-borderWidth) solid var(--main-color);

    box-shadow: 0px 0px 0px #EBEBEB;

    --stroke-color: var(--main-color);
    --svg-text-color: var(--main-color);

    transition: all var(--global-transitionTiming-alpha) ease;

    
}

.u-diesel:focus{
    outline: none;      

    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: var(--global-borderRadius);
    background-color: var(--background-color-gasButtons);
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    box-shadow: 4px 4px 3px #888888;
    transition: all var(--global-transitionTiming-alpha) ease;
}


.u-dieselTXT{
    margin-left: var(--global-whitespace-sm);
    font-size: 1.5rem;
    font-weight: 600;

}

.u-diesel:hover{
    border: var(--global-borderWidth) solid var(--global-bordercolor);
    width: 200px;

    border-radius: var(--global-borderRadius);
    background-color: var(--background-color-gasButtons);
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: var(--global-whitespace-md);

    box-shadow: 0px 0px gray;

    box-shadow: 4px 4px 3px #888888;
}

.is-pressed{
    border: var(--global-borderWidth) solid white;
    width: 200px;
    height: 50px;

    border-radius: var(--global-borderRadius);
    
    background-color: white;
    color: var(--main-color);
    display: flex;
    
    display: flex;
    align-items: center;
 
    margin-bottom: var(--global-whitespace-md);

    border: var(--global-borderWidth) solid var(--main-color);

    box-shadow: 0px 0px 0px #EBEBEB;

    --stroke-color: var(--main-color);
    --svg-text-color: var(--main-color);

    transition: all var(--global-transitionTiming-alpha) ease;

    
}

.is-pressed:focus   {
    outline: none;
    border: var(--global-borderWidth) solid white;
    width: 200px;
    height: 50px;

    border-radius: var(--global-borderRadius);
    
    background-color: white;
    color: var(--main-color);
    display: flex;
   
    display: flex;
    align-items: center;

    margin-bottom: var(--global-whitespace-md);

    border: var(--global-borderWidth) solid var(--main-color);

    box-shadow: 0px 0px 0px #EBEBEB;

    --stroke-color: var(--main-color);
    --svg-text-color: var(--main-color);

    transition: all var(--global-transitionTiming-alpha) ease; 
}

.is-pressed:hover{
    background-color: var(--background-color-gasButtons);
}

.is-pressed:focus{
    background-color: var(--background-color-gasButtons);
}


.u-chart{
    display: flex;
    justify-content: center;
}

.center{
    width: 600px;

    position: relative;

    margin: calc(var(--global-whitespace-sm)*10) var(--global-whitespace-lg);

    padding: 0 var(--global-whitespace-xl);
  
    box-shadow: 0 0 5px gray;
}

.u-chartTitle{
    margin-top: var(--global-whitespace-md);
    font-size: 2rem;
    font-weight: bold;
}

.pricesBox{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.pricesBox p {
    color: black;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 0;
    font-family: bold;
    letter-spacing: 1px;
}

.pricesBox p:nth-child(2) {
   float: right;
   position: relative;
   top: -35px;
}

.price{
    background-color: white;
    padding: 2px;
    box-sizing: border-box;
    border: calc(var(--global-borderWidth)*2) solid var(--main-color);
    border-radius: 2px;

}

.barFilled{
    background-color: var(--main-color);
    width: 100%;
    height: 8px;
}


  @media (min-width: 75rem) {
    #footer{
        
        margin-left: var(--global-whitespace-lg);
        gap: var(--global-whitespace-lg);
        margin: 0 auto;

        
    }
  }

  @media (min-width: 62rem) {
    
    .c-nav__list {
        display: flex;
        margin-left: -16px;
        margin-right: -16px;
      }
    
      .c-nav__link {
        margin-right: var(--global-whitespace-sm);
      }

    .c-header__nav {
      display: block;
    }

  
    .c-header__nav--main {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(50%, 50%);
      margin-top: calc(var(--global-whitespace-xs)*3);
    }
  
    .c-header__mobile-nav-trigger {
      display: none;
    }

    #footer{
        
        margin: var(--global-whitespace-lg);
        gap: var(--global-whitespace-lg);
        margin: 0 auto;
    }
   
  }

  @media (max-width: 62rem) {
    
    .c-nav__link {
        font-size: 2rem;
      }
      
      .c-nav__list{
          display: block;
      }
  
    .c-header__mobile-nav-trigger {
      display: block;
      margin:  calc(var(--global-baseline)*5);
    }
    a {
    color: black;
    border-bottom: none;
}
    .has-mobile-nav .c-mobile-nav {
        pointer-events: auto;
        transform: TranslateX(60%);
        }

    .c-nav__item{
        margin-bottom: var(--global-whitespace-md);
        
    }

    .c-main{
        display: block;
    }

     .c-map{
        margin-top: 0;
    }

    .c-side--nav{
        height: 50px;
        justify-content: center;
        padding: 0;
        margin: calc(var(--global-baseline)*7) 0 var(--global-whitespace-lg) 0;
    }

    #main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
        align-items: center;
    }

    .grid_item_main_1{
        height: 50px;
        display: flex;
        gap: var(--global-whitespace-md);
        margin: var(--global-whitespace-xl) 0; 
    }

    .u-side--nav-small{
    
    }

    #footer{
       
        margin: var(--global-whitespace-lg);
        gap: var(--global-whitespace-lg);
        
    }

    .c-contact{
        margin-top: var(--global-whitespace-lg);
    }
  }
  


@media (max-width:56.25rem){
 
    .grid_item_footer_3{
        display: none;
    }

    .o-container{
        max-width: 700px;
    }

    .u-width-logo{
        max-width: 170px;
        height: 95px;
    }

    
  
    .c-header__mobile-nav-trigger{
        display: block;
    }

    .has-mobile-nav .c-mobile-nav {
        pointer-events: auto;
        transform: TranslateX(60%);
        }
    
    .c-nav__link{
        font-size:1.5rem;
    }

    #main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
        align-items: center;
    }

    .grid_item_main_1{
        height: 50px;
        display: flex;
        gap: var(--global-whitespace-md);
        margin: var(--global-whitespace-xl) 0; 
    }

    .c-map{
        width: 500px;
        height: 500px;
    }

    
    .u-itemsvg{
        width: 48px;
        height: 48px;
    }

    .u-itemtxthead{
        font-size: 1.25rem;
        margin: 0;
    }

    #footer{
       
        margin: var(--global-whitespace-lg);
        gap: var(--global-whitespace-lg);
        
    }



}

/* rond hier beginnen werken met een hamburger menu */


@media (max-width:43.75rem){

    .u-euro95TXT{
        display: none;
    }

    .u-euro95{
        width: 40px; 
        border-radius: 100%;
    }

    .u-euro95:focus{
        width: 40px;
        border-radius: 100%;
    }

    .u-euro95:active{
        width: 40px;      
        border-radius: 100%;   
    }

    .u-euro95:hover{
        width: 40px;
        border-radius: 100%;
    }

    .c-fuelLogo{
        margin: 0 auto;
    }

    .is-pressed{
        width: 40px;
        height: 50px;
        border-radius: 100%;
      

    }

    .is-pressed:focus{
        width: 40px;
        height: 50px;
        border-radius: 100%;
      

    }


    .u-euro98TXT{
        display: none;
    }
    .u-euro98{
        width: 40px;
        border-radius: 100%;
    }

    .u-euro98:focus{
        width: 40px;    
        border-radius: 100%;    
    }

    .u-euro98:active{
        width: 40px;
        border-radius: 100%; 
    }

    .u-euro98:hover{
        width: 40px;
        border-radius: 100%;
    }

    .u-dieselTXT{
        display: none;
    }


    .u-diesel{
        width: 40px;
        border-radius: 100%;  
    }

    .u-diesel:focus{
        width: 40px;
        border-radius: 100%;
    }

    .u-diesel:active{
        width: 40px; 
        border-radius: 100%;
    }

    .u-diesel:hover{
        width: 40px;      
        border-radius: 100%; 
    }

  
    .c-checkbox{
        display: flex;
        align-items: center;
        /* gap: 16px; */
        font-size: 1.5rem;
    
    }

    
    .has-mobile-nav .c-mobile-nav {
        pointer-events: auto;
        transform: TranslateX(60%);
    }

    .grid_item_main_1{
        

    }
    
    .grid_item_main_2{
        /* Gebruikt om te testen */
    
        /* border: 1px solid green; */
        /* align-self: end; */
    }


}

@media (max-width:37.5rem){
    .c-map{
        height: 400px;
        width: 400px;
    }


    .has-mobile-nav .c-mobile-nav {
        pointer-events: auto;
        transform: TranslateX(60%);
        }


}

@media (max-width:36.875rem){

    .c-contact{
        display: flex;
        align-items: center;
        margin-top: var(--global-whitespace-lg);
    }

    #footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 auto;
                
        gap: 0;
        margin: 0 auto;
        margin-left: var(--global-whitespace-lg);
        
    }

    
    .u-pointerLogo_large{
        display: none;
    }
    
    .u-textLogo_large{
        display: none;
    }
    
    .u-textLogo_small{
        display: block;
    }

    .u-pointerLogo_small{
        display: block;
    }
    
    .u-textLogo_small{
        display: block;
    }
   
    
    .u-textLogo{
        padding-top: var(--global-whitespace);
        padding-left: calc(var(--global-baseline)*5);
    }

    .c-header__mobile-nav-trigger{
        margin: calc(var(--global-baseline)*5) calc(var(--global-baseline)*2) calc(var(--global-baseline)*3) ;
        
    }
    

    
}



@media (max-width:31.25rem){

    .u-chartTitle{
        font-size: 1.5rem;
    }

    .c-map{
        height: 350px;
        width: 300px;
    }

    .has-mobile-nav .c-mobile-nav {
        pointer-events: auto;
        transform: TranslateX(50%);
        }

    .c-contact{
        background-color: black;
        height: 200px;
        color: white;
    }

    .u-width-contact{   
        margin: calc(var(--global-baseline)*1.25) calc(var(--global-baseline)*1.875);
        position: absolute;
    }
        
    .u-email{
        font-size: 0.875rem;
        
    }

    .u-tel{
        font-size: 0.875rem;
    }
    
    p{
        margin: var(--global-whitespace-sm) 0;
    }

   

    .c-item{
        height: 65px;
    }

    .u-itemsvg{
        fill: white;
        width: 36px;
        height: 36px;
        
        margin: 0 auto;
        margin-bottom: 0;
        margin-right: var(--global-whitespace);
        margin: 0 var(--global-whitespace) 0 0;
    }
   

   
}

@media (max-width:25rem){

    .u-chartTitle{
        font-size: 1.2rem;
    }

    .c-map{
        height: 300px;
        width: 275px;
    }

    .c-nav__link{
        font-size: 1.5rem;
    }

    .c-header_logo{
    
        display: block;
        margin-left: 0;
        width: 160px;
    
    }

    .u-width-logo{
        
    }

    .c-header{
      
        margin: calc(var(--global-baseline) *2);
        margin-bottom: var(--global-baseline);
    
    }

    .c-checkbox{
        font-size: 1rem;
    }

    


}

@media (max-width:21.875rem){

    
    .c-map{
        height: 300px;
        width: 225px;
    }

    .u-width-logo{
        max-width: 150px;
        height: 75px;
    }

    .c-nav__link{
        font-size: 1rem;
    }
    .c-nav__item{
        margin-bottom: 0px;

    }

}

@media (max-width:20.3125rem){
    .c-map{
        height: 300px;
        width: 200px;
    }

    .u-width-logo{
        max-width: 140px;
        height: 70px;
    }

    .u-itemsvg{
        margin-right: var(--global-whitespace-sm);
    
}

}


